<div class="page-header">
  <%= link_to 'Back', questions_path, :class => "btn btn-inverse" %>
  <h1>New Question</h1>
</div>

<p class="lead">Only administrators can create new questions.</p>

<%= render 'form' %>