<h1>Editing quote</h1>

<!-- Need to make sure form is prepopulated with the choices that were already selected for each question -->

<%= render 'form' %>

<%= link_to 'Show', @quote %> |
<%= link_to 'Back', quotes_path %>
